@charset "utf-8";
/*!
 * @author liyuelong1020@gmail.com
 * @date 15-5-21 下午4:04
 * @version 1.0.0
 * @description 样式表
 */

@import "normalize.css";
@import "layout.css";
@import "widget.css";
@import "media.css";

body {
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;
    background-color: #fff;
}
.wrap {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.success-image {
    position: absolute;
    width: 320px;
    height: 320px;
    left: 50%;
    top: 50%;
    margin: -160px 0 0 -160px;
    -webkit-transform-origin: 50% 50%;
    transform-origin:         50% 50%;
}