@charset "utf-8";
/*!
 * @author liyuelong1020@gmail.com
 * @date 15-6-19 下午2:45
 * @version 1.0.0
 * @description style 
 */
html {
  font-size: 16px;
  /* ipad
 **********************************************************************/
  /* iphone4/4s
     **********************************************************************/
  /* iphone6
     **********************************************************************/
  /* iphone6 plus
     **********************************************************************/
  /* samssung i9100
     **********************************************************************/
  /* samssung i9200
     **********************************************************************/
  /* 横屏处理
    **********************************************************************/
}
@media (device-width: 768px) and (device-height: 1024px) {
  html {
    font-size: 28px;
  }
}
@media (min-device-width: 320px) and (max-device-height: 480px) {
  html {
    font-size: 12px;
  }
}
@media (min-device-width: 375px) and (max-device-height: 667px) {
  html {
    font-size: 16px;
  }
}
@media (min-device-width: 414px) and (max-device-height: 736px) {
  html {
    font-size: 18px;
  }
}
@media (min-device-width: 480px) and (device-aspect-ratio: 3/5) {
  html {
    font-size: 14px;
  }
}
@media (min-device-width: 800px) and (device-aspect-ratio: 5/8) {
  html {
    font-size: 16px;
  }
}
@media (orientation: landscape) and (min-aspect-ratio: 2/3) {
  html {
    height: 225%;
    font-size: 4vw;
  }
}
@media (orientation: landscape) and (min-aspect-ratio: 3/4) {
  html {
    height: 177%;
    font-size: 5vw;
  }
}
@media (orientation: landscape) and (min-aspect-ratio: 9/16) {
  html {
    height: 316%;
    font-size: 5vw;
  }
}
