@charset "utf-8";
/*!
 * @author liyuelong1020@gmail.com
 * @date 2016/6/7
 * @version 1.0.0
 * @description js控件样式表
 */
/* icon-music */
@-webkit-keyframes music {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes music {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.icon-music {
  position: absolute;
  top: 2.2rem;
  left: 0;
  z-index: 10;
  width: 4rem;
  height: 4rem;
  display: block;
  background: url(../images/icon-music.png) no-repeat 50% 50%;
  background-size: 1rem 1rem;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}
.icon-music-animation {
  -webkit-animation: music 2s linear 0s infinite;
  animation: music 2s linear 0s infinite;
}
/* 弹窗
 **********************************************************************/
.popup {
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: -webkit-box;
  display: box;
  -webkit-box-pack: center;
  box-pack: center;
  -webkit-box-align: center;
  box-align: center;
  overflow-x: hidden;
  overflow-y: auto;
}
.popup .popup-content {
  min-width: 40%;
  max-width: 85%;
  padding: 1em;
  text-align: center;
  position: relative;
  background-color: #fff;
  border-radius: 1em;
}
.popup .popup-content .icon-close {
  position: absolute;
  right: 1em;
  top: 1em;
  cursor: pointer;
  display: block;
  font: 400 0.5em/1.5em 'sans-serif';
  font-style: normal;
  width: 1.5em;
  height: 1.5em;
  color: #e94809;
  border: 1px solid #e94809;
  border-radius: 50%;
}
.popup .popup-content .popup-msg {
  display: block;
  width: 100%;
  padding-top: 3em;
  text-align: center;
  color: #e94809;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 3em 3em;
}
.popup.popup-success .popup-msg {
  background-image: url(../images/icon-success.png);
}
.popup.popup-error .popup-msg {
  background-image: url(../images/icon-fail.png);
}
.popup.popup-loading {
  background-color: transparent;
}
.popup.popup-loading .popup-content {
  width: 4rem;
  height: 4rem;
  min-width: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.popup.popup-loading .popup-content .clock {
  border-radius: 50%;
  border: 0.25rem solid #fff;
  height: 3rem;
  width: 3rem;
  margin: 0.35rem;
  position: relative;
}
@-webkit-keyframes grdAiguille {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes grdAiguille {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes ptAiguille {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes ptAiguille {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.popup.popup-loading .popup-content .clock::after {
  content: "";
  position: absolute;
  background-color: #fff;
  top: 0.125rem;
  left: 48%;
  height: 1.375rem;
  width: 0.25rem;
  border-radius: 0.25rem;
  -webkit-transform-origin: 50% 97%;
  transform-origin: 50% 97%;
  -webkit-animation: grdAiguille 1s linear infinite;
  animation: grdAiguille 1s linear infinite;
}
.popup.popup-loading .popup-content .clock::before {
  content: "";
  position: absolute;
  background-color: #fff;
  top: 0.25rem;
  left: 48%;
  height: 1.25rem;
  width: 0.25rem;
  border-radius: 0.25rem;
  -webkit-transform-origin: 50% 94%;
  transform-origin: 50% 94%;
  -webkit-animation: ptAiguille 6s linear infinite;
  animation: ptAiguille 6s linear infinite;
}
.popup.popup-share {
  background: url(../images/bg-share.png) no-repeat 0 0 rgba(0, 0, 0, 0.8);
  background-size: 100%;
}
.popup.popup-share .popup-content {
  display: none;
}
