@charset "utf-8";
/*!
 * @author liyuelong1020@gmail.com
 * @date 15-6-19 下午2:44
 * @version 1.0.0
 * @description style 
 */

html * {
    outline: 0;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
/* 滚动条样式
 **********************************************************************/
::-webkit-scrollbar-track,
::-webkit-scrollbar {
    width: 0.25rem;
    border-radius: 10px;
    background-color: #e4b5b7;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #c11920;
    background-image: -webkit-linear-gradient(bottom, #aa0e12, #cf313b);
    background-image:         linear-gradient(to top, #aa0e12, #cf313b);
}

/* 隐藏原生滚动条
 **********************************************************************/
::-webkit-scrollbar{
    opacity: 0;
}

/* 公共组件
 **********************************************************************/
.hide {
    display: none !important;
}
.clear:after {
    content: ' ';
    display: block;
    clear: both;
    width: 0;
    height: 0;
}
.text-hide {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-indent: 110%;
}

/* 表单
 **********************************************************************/
input {
    -webkit-appearance: none;
}
input:focus,
input:active,
input:hover {
    outline: 0 none;
}
input::-webkit-input-placeholder {
    color: #9fa0a0;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none !important;
    margin: 0;
}

/* 按钮
 **********************************************************************/
.btn,
.btn:visited,
.btn:active,
.btn:hover,
.btn:focus {
    box-sizing: content-box;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    background: none;
    border: 0 none;
}
.btn-default,
.btn-default:visited,
.btn-default:active,
.btn-default:hover,
.btn-default:focus {
    color: #aaa;
    background: #eee;
}
.btn-primary,
.btn-primary:visited,
.btn-primary:active,
.btn-primary:hover,
.btn-primary:focus {
    color: #aaa;
    background: #fef;
}
.btn-wrap {
    text-align: center;
    width: 100%;
    padding: 0.8rem 0;
}
.btn-wrap .btn:not(:first-child) {
    margin-left: 1.75rem;
}
/* icon-music */
@-webkit-keyframes music {
    0% {
        -webkit-transform: rotate(0deg);
        transform:         rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(-360deg);
        transform:         rotate(-360deg);
    }
}
@keyframes music {
    0% {
        -webkit-transform: rotate(0deg);
        transform:         rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(-360deg);
        transform:         rotate(-360deg);
    }
}
.icon-music {
    position: absolute;
    top: 2.2rem;
    left: 0;
    z-index: 10;
    width: 4rem;
    height: 4rem;
    display: block;
    background: url(../images/icon-music.png) no-repeat 50% 50%;
    background-size: 1rem 1rem;
    -webkit-transform-origin: 50% 50%;
    transform-origin:         50% 50%;
}
.icon-music-animation {
    -webkit-animation: music 2s linear 0s infinite;
    animation:         music 2s linear 0s infinite;
}
/* 弹窗
 **********************************************************************/
.popup {
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    display: -webkit-box;
    display:         box;
    -webkit-box-pack: center;
    box-pack:         center;
    -webkit-box-align: center;
    box-align:         center;
    overflow-x: hidden;
    overflow-y: auto;
}
.popup .popup-content {
    min-width: 40%;
    max-width: 85%;
    padding: 1em;
    text-align: center;
    position: relative;
    background-color: #fff;
    border-radius: 1em;
}
.popup .popup-content .icon-close {
    position: absolute;
    right: 1em;
    top: 1em;
    cursor: pointer;
    display: block;
    font: 400 0.5em/1.5em 'sans-serif';
    font-style: normal;
    width: 1.5em;
    height: 1.5em;
    color: #e94809;
    border: 1px solid #e94809;
    border-radius: 50%;
}
.popup .popup-content .popup-msg {
    display: block;
    width: 100%;
    padding-top: 3em;
    text-align: center;
    color: #e94809;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 3em 3em;
}
.popup .popup-success .popup-msg {
    background-image: url(../images/icon-success.png);
}
.popup .popup-fail .popup-msg,
.popup .popup-error .popup-msg {
    background-image: url(../images/icon-fail.png);
}
.popup .popup-loading {
    background: url(../images/loading.gif) no-repeat center center transparent;
    background-size: 3em 3em;
}
.popup .popup-share {
    background: url(../images/bg-share.png) no-repeat 0 0 transparent;
    background-size: 100%;
}
.popup .popup-share,
.popup .popup-loading {
    width: 100%;
    height: 100%;
    max-width: 100%;
    padding: 0;
}
.popup .popup-share .icon-close,
.popup .popup-loading .icon-close {
    display: none;
}
.popup-landscape {
    background: #fff;
}
.popup-landscape .popup-content {
    background: url(../images/bg-landscape.png) no-repeat  50% 0;
    background-size: contain;
    padding-top: 36%;
    font: 400 0.6rem/1em 'sans-serif';
}