@charset "utf-8";
/*!
 * @author liyuelong1020@gmail.com
 * @date 2016/6/7
 * @version 1.0.0
 * @description 首页样式
 */
@import "normalize.css";
@import "layout.css";
@import "widget.css";
@import "skin-default.css";
body {
  position: relative;
  background-color: #efeff4;
}
.wrap {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
